__pycache__/
*.py[cod]
.env
.venv/
venv/
env/
.vscode/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
.pytest_cache/
.mypy_cache/
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.nbconvert.ipynb
*.swp
*.bak
*.sqlite3
__pypackages__/
